%nav
  %ul
    %li
      %a{ :href => "/"}
        %img#logo{ :src => '/content/images/littlesmoere.jpg'}
    \|
    %li
      %a{ :href => '/pages/about.html'} about
    \|
    %li
      %a{ :href => '/pages/archive.html'} archive