body
  background-color: #dddddd
nav
  font-size: 0.8em
  margin-bottom: $line-height * 3
  #logo
    width: 64px
    margin-bottom: 0
    float: left
    margin-right: $line-height
  li
    display: inline


article
  margin-bottom: $line-height * 4

.link-body, .post-summary
  +whitespace

h1, h2, h3, h4, h5, h6
  +whitespace


h1.link, h1.post
  border-top: 1px solid gray
  padding-top: 5px
h1.link
  font-size: 1.4em
h1.post
  font-size: 2em
  line-height: $line-height / 1.5
time
  font-size: 0.8em
  display: block
  text-align: right


.post time
  position: relative
  top: - $line-height * 2
li
  list-style-type: square

pre
  white-space: pre-line // normal // nowrap //  // pre 
  max-width: 100%
  overflow: scroll
  padding: $line-height
  border: 1px solid black
  background-color: #cccccc
  +border-radius()
  +whitespace
  // +whitespace
  // padding-left: $line-height
  // padding-bottom: $line-height

code
  // white-space: wrap
  font-size: 0.8em
  color: #a20000

.post h2
  font-size: 1.4em

.post h3
  font-size: 1.2em

a
  color: black
a:hover
  color: #a20000

h1
  a
    color: #a20000
    text-decoration: none




footer, .author
  border-top: 1px solid gray
  font-size: 0.6em

blockquote a:last-child
  font-size: 0.6em

.imagesource
  font-size: 0.6em

time
  // z-index: -100
